<footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white">@Derechos reservados César Oswaldo Bernal Sánchez</a>
    </a>
</footer>