<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
    <div class="container">
        <form>
            <div class="mb-3 row">
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Num. Boleto</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtNumBoleto" name="txtNumBoleto">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Destino</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtDestino" name="txtDestino">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Nombre del cliente</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtNombreCliente" name="txtNombreCliente">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Años cumplidos</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtEdad" name="txtEdad">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Tipo de viaje</label>
                <div class="col-sm-10">
                    <select class="form-select" arial-label="Default select example" id="optTipo" name="optTipo">
                        <option value="1">Sencillo</option>
                        <option value="2">Doble</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtPrecio" name="txtPrecio">
                </div>
            </div>
            <hr>
        </form>

        <button class="btn btn-primary" onclick="calcular()">Calcular</button>
        <button class="btn btn-secondary" type="reset" onclick="limpiar()">Limpiar</button>

        <div class="mb-3 row">
            <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Subtotal</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtSubTotal" name="txtSubTotal">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Impuesto 16%</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtImpuesto" name="txtImpuesto">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Descuento</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtDescuento" name="txtDescuento">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="fromGroupExamepleInput" class="col-sm-2 col-form-label">Total a pagar</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtTotalPagar" name="txtTotalPagar">
            </div>
        </div>
        <script src="./js/main.js"></script>
    </div>
    <%-include('partials/piePagina.html');%>
</body>
</html>